<header class="topbar">
  <div class="logo">
    <a href="/">CTRL All</a>
  </div>
  <div class="topbar-right">
    <nav class="topnav">
      <a href="/about/" class="{% if active == 'about' %}active{% endif %}">About</a>
      <a href="/request/" class="{% if active == 'request' %}active{% endif %}">Request</a>
      <a href="/contact/" class="{% if active == 'contact' %}active{% endif %}">Contact</a>
      <a href="#" class="dropbtn">Share</a>
    </nav>
  </div>
</header>
